<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }} — главная</title>
    <link href="{{ url_for('static', filename='stylesheet.css') }}" rel="stylesheet" type="text/css" >
</head>
<body>
    <h1>{{ name }}</h1>
    <h2>Главное меню</h2>

    <div id="navbar">
        <a href="{{ url_for('store_page')}}">Склад</a>
        <a href="{{ url_for('orders_page')}}">Новые заказы</a>
        <a href="javascript:void(0)">Обработанные заказы</a>
    </div>

<script type="text/javascript" src="{{ url_for('static', filename='table_script.js') }}"></script>

</body>
</html>
