<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }} — новые заказы</title>
    <link href="{{ url_for('static', filename='stylesheet.css') }}" rel="stylesheet" type="text/css" >
</head>
<body>
    <h1>{{ name }}</h1>
    <h2>Новые заказы</h2>

    <div id="navbar">
        <a href="{{ url_for('store_page')}}">Склад</a>
        <a class="active" href="javascript:void(0)">Новые заказы</a>
        <a href="javascript:void(0)">Обработанные заказы</a>
    </div>

    <div id="table_container">
        <table id="data_table">
            <thead>
            <tr>
                <th class="hidden">Номер заказа</th>
                <th class="hidden">Клиент</th>
                <th class="hidden">Артикул</th>
                <th class="hidden">Количество</th>
                <th class="hidden"></th>
            </tr>
            </thead>

            {% for order in orders %}
            <tr id="row{{ order.id }}">
                <td id="order_row{{ order.id }}">{{ order.id }}</td>
                <td id="customerId_row{{ order.id }}">{{ order.customer_id }}</td>
                <td id="article_row{{ order.id }}">{{ order.article }}</td>
                <td id="amount_row{{ order.id }}">{{ order.amount + ' шт.' }}</td>
                <td class="hidden" style="display: grid; width: 100%">
                    <input type="button" id="decline_button{{ order.id }}" value="Отклонить" class="decline_button" onclick="">
                    <input type="button" id="approve_button{{ order.id }}" value="Принять" class="approve_button" onclick="">
                </td>
            </tr>
            {% endfor %}

        </table>
    </div>

<script type="text/javascript" src="{{ url_for('static', filename='table_script.js') }}"></script>

</body>
</html>
