<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }} — склад</title>
    <link href="{{ url_for('static', filename='stylesheet.css') }}" rel="stylesheet" type="text/css" >
</head>
<body>
    <h1>{{ name }}</h1>
    <h2>Склад</h2>

    <div id="navbar">
        <a class="active" href="javascript:void(0)">Склад</a>
        <a href="{{ url_for('orders_page')}}">Новые заказы</a>
        <a href="javascript:void(0)">Обработанные заказы</a>
    </div>

    <div id="table_container">
        <table id="data_table">
            <thead>
            <tr>
                <th class="hidden">Товар</th>
                <th class="hidden">Описание</th>
                <th class="hidden">Состояние</th>
                <th class="hidden">Кол-во</th>
                <th class="hidden">Цена</th>
                <th class="hidden"></th>
            </tr>

            {% for item in articles %}
            <tr id="row{{ item.id }}">
                <td id="sort_row{{  item.id  }}">{{ item.sort }}</td>
                <td id="description_row{{ item.id }}">{{ item.description }}</td>
                <td id="availability_row{{ item.id }}">{{ item.availability }}</td>
                <td id="amount_row{{ item.id }}">{{item.amount + ' шт.'}}</td>
                <td id="price_row{{ item.id }}">{{item.price + ' грн'}}</td>
                <td class="hidden" style="display: grid; width: 100%">
                    <input type="button" id="edit_button{{ item.id }}" value="Редактировать" class="edit_button" onclick="edit_row('{{ item.id }}')">
                    <input type="button" id="save_button{{ item.id }}" value="Сохранить" class="save_button" onclick="save_row('{{ item.id }}')">
                    <input type="button" value="Удалить" class="delete_button" onclick="delete_row('{{ item.id }}')">
                </td>
            </tr>
            {% endfor %}

            <tr>
                <td style="background: white"><label for="new_sort"></label><input type="text" id="new_sort"></td>
                <td style="background: white"><label for="new_description"></label><input type="text" id="new_description"></td>
                <td style="background: white"><label for="new_availability"></label><input type="text" id="new_availability" ></td>
                <td style="background: white"><label for="new_amount"></label><input type="text" id="new_amount" ></td>
                <td style="background: white"><label for="new_price"></label><input type="text" id="new_price" ></td>
                <td class="hidden" style="display: grid; width: 100%"><input type="button" class="add_button" onclick="add_row();" value="Добавить"></td>
            </tr>
            </thead>
        </table>
    </div>

<script type="text/javascript" src="{{ url_for('static', filename='table_script.js') }}"></script>

</body>
</html>
